Repository grok-rs/waitup: changes, and which lefthook commands are due for each by the changed paths.
All: format-check, clippy-check, cargo-check, test-lib, test-doc, doc-check, security-audit, license-check, trailing-whitespace

Path conditions:
  format-check: any of: *.rs
  clippy-check: any of: *.rs
  cargo-check: any of: *.rs
  test-lib: any of: src/**/*.rs
  test-doc: any of: src/**/*.rs
  doc-check: any of: src/**/*.rs
  security-audit: any of: Cargo.{toml,lock}
  license-check: any of: Cargo.{toml,lock}
  trailing-whitespace: any of: *.{rs,toml,yaml,yml,md}

fix: add crates.io and docs.rs links to markdown link checker ignore list
  .github/markdown-link-check.json
Due: none

fix: resolve markdownlint errors in README
  README.md
Due: trailing-whitespace

chore: bump version to 1.1.1 and update dependencies
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: security-audit, license-check, trailing-whitespace

fix: resolve ICU crate compatibility issue with writeable
  Cargo.lock
  Cargo.toml
Due: security-audit, license-check, trailing-whitespace

fix: remove deprecated clippy lints for Rust 1.91
  Cargo.toml
  src/lib.rs
Due: format-check, clippy-check, cargo-check, security-audit, license-check, trailing-whitespace

fix: remove deprecated clippy::string_to_string from CI workflow
  .github/workflows/ci.yml
Due: trailing-whitespace

refactor: simplify codebase and improve test coverage
  Cargo.lock
  Cargo.toml
  examples/basic_tcp.rs
  examples/docker_compose.rs
  examples/http_health.rs
  examples/kubernetes_init.rs
  examples/library_usage.rs
  src/async_traits.rs
  src/cli.rs
  src/config.rs
  src/connection.rs
  src/error.rs
  src/iterators.rs
  src/lib.rs
  src/macros.rs
  src/presets.rs
  src/security.rs
  src/target.rs
  src/types.rs
  src/utils.rs
  src/zero_cost.rs
  tests/integration_tests.rs
Due: format-check, clippy-check, cargo-check, security-audit, license-check, trailing-whitespace

fix: resolve clippy warnings from CI
  src/config.rs
  src/connection.rs
  src/lib.rs
  src/types.rs
  src/utils.rs
  tests/integration_tests.rs
Due: format-check, clippy-check, cargo-check, trailing-whitespace

fix: replace expect with explicit error checking in tests
  src/utils.rs
Due: format-check, clippy-check, cargo-check, trailing-whitespace

fix: add must_use, error docs, and cast allows for strict linting
  src/config.rs
  src/connection.rs
  src/types.rs
Due: format-check, clippy-check, cargo-check, trailing-whitespace

docs: update readme, bump to v2.0.0
  Cargo.lock
  Cargo.toml
  README.md
Due: security-audit, license-check, trailing-whitespace

fix: filter release artifacts to exclude docker cache
  .github/workflows/release.yml
Due: trailing-whitespace
