Repository grok-rs/waitup: changes, and which lefthook commands are due for each by the changed paths.
All: format-check, clippy-check, cargo-check, test-lib, test-doc, doc-check, security-audit, license-check, trailing-whitespace

Path conditions:
  format-check: any of: *.rs
  clippy-check: any of: *.rs
  cargo-check: any of: *.rs
  test-lib: any of: src/**/*.rs
  test-doc: any of: src/**/*.rs
  doc-check: any of: src/**/*.rs
  security-audit: any of: Cargo.{toml,lock}
  license-check: any of: Cargo.{toml,lock}
  trailing-whitespace: any of: *.{rs,toml,yaml,yml,md}

feat: add comprehensive GitHub issue templates
  .github/ISSUE_TEMPLATE/README.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/performance.yml
  .github/ISSUE_TEMPLATE/question.yml
Due: trailing-whitespace

chore: set version to 1.0.0 for first stable release
  Cargo.toml
Due: security-audit, license-check, trailing-whitespace

chore: update Cargo.lock for v1.0.0
  Cargo.lock
Due: security-audit, license-check

fix: remove redundant Docker workflow trigger from release
  .github/workflows/release.yml
Due: trailing-whitespace

docs: optimize README for SEO and fix broken links
  .github/ISSUE_TEMPLATE/README.md
  .github/release-drafter.yml
  CHANGELOG.md
  README.md
Due: trailing-whitespace

fix: resolve GitHub Actions workflow failures
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  .markdownlint.json
  LINTING.md
  README.md
Due: trailing-whitespace

fix: update documentation workflow for CLI tool
  .github/workflows/docs.yml
Due: trailing-whitespace

docs: migrate documentation from docs/ folder to GitHub Wiki
  .gitmodules
  docs/ARCHITECTURE.md
  docs/DEVELOPER_GUIDE.md
  docs/INTEGRATION_PATTERNS.md
  docs/PERFORMANCE.md
  docs/TROUBLESHOOTING.md
  docs/TUTORIALS.md
Due: trailing-whitespace

fix: resolve GLIBC compatibility and optimize Docker CI workflow
  .github/workflows/docker.yml
  Dockerfile
Due: trailing-whitespace

fix: update broken docs link in issue template to point to wiki
  .github/ISSUE_TEMPLATE/README.md
Due: trailing-whitespace

chore: remove old file
  deny.toml.old
Due: none

fix: improve command execution and clean up output behavior
  src/cli.rs
Due: format-check, clippy-check, cargo-check, trailing-whitespace

chore: bump version to 1.0.1
  Cargo.toml
Due: security-audit, license-check, trailing-whitespace

chore: update Cargo.lock for v1.0.1
  Cargo.lock
Due: security-audit, license-check

fix(cli): stream verbose progress and add tests
  src/cli.rs
  tests/integration_tests.rs
Due: format-check, clippy-check, cargo-check, trailing-whitespace

feat: upgrade to Rust 2024 edition and fix clippy lints
  Cargo.toml
  examples/basic_tcp.rs
  examples/docker_compose.rs
  examples/http_health.rs
  examples/kubernetes_init.rs
  examples/library_usage.rs
  examples/multiple_services.rs
  src/async_traits.rs
  src/cli.rs
  src/connection.rs
  src/security.rs
  src/types.rs
  src/zero_cost.rs
  tests/integration_tests.rs
Due: format-check, clippy-check, cargo-check, security-audit, license-check, trailing-whitespace

refactor: extract helper functions to fix clippy::too_many_lines
  src/cli.rs
Due: format-check, clippy-check, cargo-check, trailing-whitespace

refactor: improve code quality with Rust 2024 optimizations
  src/connection.rs
  src/types.rs
Due: format-check, clippy-check, cargo-check, trailing-whitespace

feat: add semantic newtype wrappers with RFC 6335 port terminology
  src/lib.rs
  src/target.rs
  src/types.rs
Due: format-check, clippy-check, cargo-check, trailing-whitespace

feat: add PortCategory enum for type-safe port classification
  src/lib.rs
  src/types.rs
Due: format-check, clippy-check, cargo-check, trailing-whitespace

feat: add #[non_exhaustive] to public enums for API extensibility
  src/error.rs
  src/lib.rs
  src/types.rs
Due: format-check, clippy-check, cargo-check, trailing-whitespace

fix: use inline format args for clippy::uninlined_format_args
  src/lib.rs
Due: format-check, clippy-check, cargo-check, trailing-whitespace

chore: bump version to 1.1.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: security-audit, license-check, trailing-whitespace

fix: allow duplicate changelog section headings in markdownlint
  .github/workflows/docs.yml
Due: trailing-whitespace

fix: patch Docker CVE vulnerabilities and improve README
  Dockerfile
  Dockerfile.alpine
  README.md
Due: trailing-whitespace

fix: rename Common Use Cases to Examples section for CI validation
  README.md
Due: trailing-whitespace

fix: resolve markdownlint errors in README
  README.md
Due: trailing-whitespace

fix: add crates.io and docs.rs links to markdown link checker ignore list
  .github/markdown-link-check.json
Due: none
